<h1>タスク一覧</h1>

<%= link_to '新規作成', "/tasks/new", method: :get %>

<%= link_to 'ログアウト', "logout", method: :delete %>

<%= sort_link(@query, :deadline, "期限順") %>

<% @tasks.each do |task| %>
    <h2><%= task.name %></h2>
    <p><%= task.explanation %></p>
    <p>期限 <%= task.deadline %></p>
    <p>作成日時：<%= task.created_at %></p>
    <p>更新日時：<%= task.updated_at %></p>
    <%= link_to '詳細', "/tasks/#{task.id}", method: :get %>
<% end %>

<%= paginate @tasks %>
