<h1>タスク一覧</h1>

<%= search_form_for @query do |f| %>
  <%= f.label :name, "タスク名" %>
  <%= f.search_field :name_cont %>
  <%= f.label :status, "状態" %>
　<%= f.radio_button :status_eq, '', { checked: true } %>指定なし
  <%= f.radio_button :status_eq, 0 %>未着手
  <%= f.radio_button :status_eq, 1 %>着手中
  <%= f.radio_button :status_eq, 2 %>完了

  <%= f.submit "検索" %>
<% end %>

<%= link_to '新規作成', "/tasks/new", method: :get %>
<%= link_to 'ラベル一覧', "/labels", method: :get %>

<%= sort_link(@query, :deadline, "期限順") %>

<% @tasks.each do |task| %>
    <h2><%= task.name %></h2>
    <p><%= task.explanation %></p>

    <% task.labels.each do |label| %>
      <%= label.name %>
    <% end %>

    <p>状態：<%= task.enum_i18n(:status) %></p>
    <p>期限 <%= task.deadline %></p>
    <p>作成日時：<%= task.created_at %></p>
    <p>更新日時：<%= task.updated_at %></p>
    <%= link_to '詳細', "/tasks/#{task.id}", method: :get %>
<% end %>

<%= paginate @tasks %>
