<div class="text-center mt-3">
  <h1>タスク一覧</h1>

  <div class="my-3">
    <%= search_form_for @query do |f| %>
      <%= f.label :name, "タスク名" %>
      <%= f.search_field :name_cont %>
      <%= f.label :status, "状態" %>
      <%= f.radio_button :status_eq, '', { checked: true } %>指定なし
      <%= f.radio_button :status_eq, 0 %>未着手
      <%= f.radio_button :status_eq, 1 %>着手中
      <%= f.radio_button :status_eq, 2 %>完了

      <%= f.submit "検索" %>
    <% end %>
    <%= link_to '新規作成', "/tasks/new", method: :get, class: "btn btn-outline-success mr-2" %>
    <%= sort_link(@query, :deadline, "期限順") %>
  </div>
</div>

<% @tasks.each do |task| %>
  <div class="card mb-2 width-30rem mx-auto">
    <div class="card-header">
      期限：<%= (task.deadline.year == Time.current.year) ? (l task.deadline, format: :short) : (l task.deadline) %>
    </div>

    <h5 class="card-title ml-2 mt-2"><%= task.name %></h5>

    <div class="d-flex justify-content-end">
      <p class="card-text mr-4"><small class="text-muted">task.enum_i18n(:status)</small></p>
      <p class="card-text mr-4"><small class="text-muted"><%= time_ago_in_words(task.created_at) %>前に作成</small></p>
      <%= link_to '詳細', "/tasks/#{task.id}", method: :get, class: "card-link mr-4" %>
    </div>
  </div>
<% end %>

<%= paginate @tasks %>
