<div class="text-center mt-3">
  <h1>タスク一覧</h1>

  <div class="py-3">
    <%= search_form_for @query, html: { class: 'd-flex justify-content-center pb-2' } do |f| %>
      <div class="form-group mr-2">
        <%= f.label :name, "タスク名", { class: "mr-2" } %>
        <%= f.search_field :name_cont %>
      </div>

      <div class="d-flex mr-3">
        <%= f.label :status, "状態", { class: "mr-2" } %>

        <div class="form-check mr-2">
          <%= f.radio_button :status_eq, '', { checked: true, class: "form-check-input" } %>
          <%= f.label :status_eq, "指定なし", {}, { class: "form-check-label" } %>
        </div>

        <% for num in 0..2 do %>
          <div class="form-check mr-2">
            <%= f.radio_button :status_eq, num, { class: "form-check-input" } %>
            <%= f.label :status_eq, Task.enums_i18n(:status).keys[num], {}, { class: "form-check-label" } %>
          </div>
        <% end %>
      </div>

      <%= f.submit "検索", class: "btn btn-primary h-50" %>
    <% end %>
    <%= link_to '新規作成', "/tasks/new", method: :get, class: "btn btn-outline-success mr-2" %>
    <%= sort_link(@query, :deadline, "期限順") %>
    <%= sort_link(@query, :priority, "優先度順") %>
  </div>
</div>

<% @tasks.each do |task| %>
  <div class="card mb-2 width-30rem mx-auto">
    <div class="card-header">
      期限：<%= (task.deadline.year == Time.current.year) ? (l task.deadline, format: :short) : (l task.deadline) %>
      優先度：<%= task.enum_i18n(:priority) %>
    </div>

    <h5 class="card-title ml-2 mt-2"><%= task.name %></h5>

    <div class="d-flex justify-content-end">
      <p class="card-text mr-4"><small class="font-weight-bold"><%= task.enum_i18n(:status) %></small></p>
      <p class="card-text mr-4"><small class="text-muted"><%= time_ago_in_words(task.created_at) %>前に作成</small></p>
      <%= link_to '詳細', "/tasks/#{task.id}", method: :get, class: "card-link mr-4" %>
    </div>
  </div>
<% end %>

<%= paginate @tasks %>
